.BlackholeBlockDetaBox {
    width: 1240px;
    margin: auto;
}
.title {
    font-size: 24px;
    color: white;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
}
.Rewarderdatabox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 33px;
}
.Rewarderdatabox_block {
    width: 291px;
    height: 172px;
    background-image: url('../../assets/images/BlackholeBlockDeta/Slice\ 883.png');
    background-size: 100% 100%;
    margin-bottom: 24px;
    padding: 24px;
}
.Rewarderdatabox_block_title {
    font-size: 12px;
    font-family: CustomFontRegular;
    color: #86909c;
    margin: 0;
}
.Rewarderdatabox_blockts {
    width: 291px;
    height: 172px;
}
.Rewarderdatabox_block_address {
    font-size: 16px;
    font-family: CustomFontMedium;
    color: #7aa4ff;
    margin-top: 12px;
}
.Rewarderdatabox_block_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    width: 243px;
    p {
        font-size: 12px;
        font-family: CustomFontRegular;
        color: #86909c;
        margin: 0;
    }
    span {
        font-size: 16px;
        font-family: CustomFontMedium;
        color: #ffffff;
        margin-top: 12px;
    }
}
.tablebox{
    width: 1240px;
    height: 719px;
    background-image: url('../../assets/images/BlackholeBlockDeta/2.png');
    background-size: 100% 100%;
    margin-top: 32px;
    overflow: auto;
}
.table {
    width: 1240px;
    //   height: 967px;
    border-radius: 8px;
    
    padding-top: 24px;
    padding-bottom: 30px;
    overflow: hidden;
    
}
.table_title {
    color: white;
    font-size: 20px;
    margin: 0 0 0 24px;
}
.table_data {
    width: 1252.5px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nodeaddressblock {
    width: 365px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #524e5b;
    font-size: 14px;
    font-family: CustomFontMedium;
    color: #7aa4ff;
    margin-top: 12px;
    margin-right: 52.5px;
}
.BlockDetailsBox_Pagination {
    //   border: 1px solid red;
    margin-top: 30px;
    text-align: right;
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
}
.BlockDetailsBox_Pagination_d {
    width: 82px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #03041a;
    border-radius: 2px;
    margin-left: 16px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-align: center;
}
.BlockDetailsBox_Pagination_span1 {
    font-size: 14px;
    color: white;
    line-height: 32px;
    margin: 0 8px;
}
.BlockDetailsBox_Pagination_input {
    width: 48px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #03041a;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    padding-left: 12px;
    margin-right: 8px;
}
.BlockDetailsBox_Pagination_span2 {
    font-size: 14px;
    color: white;
    line-height: 32px;
}
.SNFTDetailsBox_titleData_buttonBox {
    width: 1200px;
    margin: 40px auto 0;
    display: flex;
    justify-content: flex-start;
}
.SNFTDetailsBox_titleData_buttonBox_Transactionhistory1 {
    width: 136px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    line-height: 38px;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.SNFTDetailsBox_titleData_buttonBox_Transactionhistory2 {
    width: 136px;
    height: 40px;
    border: 1px solid #426ceb;
    border-radius: 4px;
    line-height: 38px;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: #426ceb;
    box-shadow: 0px 10px 25px #426ceb;
}
.SNFTDetailsBox_titleData_buttonBox_metaData1 {
    width: 136px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    line-height: 38px;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-left: 16px;
}
.SNFTDetailsBox_titleData_buttonBox_metaData2 {
    width: 136px;
    height: 40px;
    border: 1px solid #426ceb;
    border-radius: 4px;
    line-height: 38px;
    text-align: center;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: #426ceb;
    box-shadow: 0px 10px 25px #426ceb;
    margin-left: 16px;
}
.BlockDetailsBox_table {
    width: 1240px;
    border-radius: 8px;
    background-image: url('../../assets/images/BlackholeBlockDeta/2.png');
    background-size: 100% 100%;
    margin-top: 32px;
    padding-top: 24px;
    padding-bottom: 30px;
}
.BlockDetailsBox_table_title {
    color: white;
    font-size: 20px;
    margin: 0 0 0 24px;
}
.BlockDetailsBox_Pagination {
    //   border: 1px solid red;
    margin-top: 30px;
    text-align: right;
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
}
.BlockDetailsBox_Pagination_d {
    width: 82px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #03041a;
    border-radius: 2px;
    margin-left: 16px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-align: center;
}
.BlockDetailsBox_Pagination_span1 {
    font-size: 14px;
    color: white;
    line-height: 32px;
    margin: 0 8px;
}
.BlockDetailsBox_Pagination_input {
    width: 48px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #03041a;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    padding-left: 12px;
    margin-right: 8px;
}
.BlockDetailsBox_Pagination_span2 {
    font-size: 14px;
    color: white;
    line-height: 32px;
}
:global {
    #BlackholeBlockDetaPagination {
        .ant-pagination-item-link {
            background-color: #03041a !important;
            color: white !important;
        }
        .ant-pagination-item {
            background-color: #03041a !important;
            a {
                color: white !important;
            }
        }
        .ant-pagination-item:hover {
            background-color: #f72d86 !important;
            border: 0 !important;
        }
        .ant-pagination-item-ellipsis {
            color: white !important;
        }
        .ant-pagination-item-active {
            background-color: #f72d86 !important;
            border: 1px solid #f72d86;
        }
    }
}
