.BlockDetailsBox {
    width: 1240px;
    margin: auto;
    //   border: 1px solid red;
    margin-top: 50px;
}
.BlockDetailsBox_titlebox{
    width: 1240px;
    height: 516px;
    background-image: url('../../assets/images/BlockChain/Slice\ 842.png');
    background-size: 100% 100%;
    padding: 21px 26px;
}
.BlockDetailsBox_title {
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
.BlockDetailsBox_blockid {
    font-size: 20px;
    color: #7aa4ff;
    margin-left: 25px;
}
.BlockDetailsBox_databox {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.BlockDetailsBox_databox_left {
    width: 640px;
}
.BlockDetailsBox_databox_left_transverse {
    width: 660px;
    margin-bottom: 25px;
}
.BlockDetailsBox_databox_left_transverse:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
}
.BlockDetailsBox_databox_left_transverse_name {
    width: 140px;
    float: left;
    color: #b7b6bb;
    font-size: 14px;
}
.BlockDetailsBox_databox_left_transverse_data {
    width: 440px;
    float: left;
    color: white;
    font-size: 14px;
    margin-left: 15px;
    overflow-wrap:anywhere;
    // cursor: pointer;
}
.BlockDetailsBox_databox_left_transverse_data_box {
    width: 440px;
    display: flex;
    // align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.BlockDetailsBox_databox_left_transverse_data_box_verification1 {
    font-size: 11px;
    color: #9effcc;
    width: 80px;
    height: 16px;
    border: 1px solid #9effcc;
    background-color: #9effcc20;
    border-radius: 10px;
    line-height: 14px;
    text-align: center;
    float: left;
    margin-top: 5px;
}
.BlockDetailsBox_databox_left_transverse_data_box_verification2 {
    font-size: 11px;
    color: #fe4fa7;
    width: 80px;
    height: 16px;
    border: 1px solid #fe59b0;
    background-color: #fe59b020;
    border-radius: 10px;
    line-height: 14px;
    text-align: center;
    float: left;
    margin-top: 5px;
}
.BlockDetailsBox_databox_left_transverse_data_box_verification3 {
    font-size: 11px;
    color: #fcc931;
    width: 80px;
    height: 16px;
    border: 1px solid #fcc931;
    background-color: #fcc93120;
    border-radius: 10px;
    line-height: 14px;
    text-align: center;
    float: left;
    margin-top: 5px;
}
.BlockDetailsBox_databox_left_transverse_data_box_verificationData {
    // width: 80px;
    font-size: 14px;
    color: #7aa4ff;
    text-align: left;
    line-height: 25px;
    display: flex;
    justify-content: flex-start;
}
.BlockDetailsBox_databox_left_transverse_data_box_data {
    width: 330px;
}
.BlockDetailsBox_databox_right {
    width: 460px;
}
.BlockDetailsBox_table {
    width: 1240px;
    border-radius: 8px;
    background-image: url('../../assets/images/BlockChain/Slice\ 841.png');
    background-size: 100% 100%;
    margin-top: 32px;
    padding-top: 24px;
    padding-bottom: 30px;
}
.BlockDetailsBox_table_title {
    color: white;
    font-size: 20px;
    margin: 0 0 0 24px;
}
.BlockDetailsBox_Pagination {
    //   border: 1px solid red;
    margin-top: 30px;
    text-align: right;
    padding-right: 24px;
    display: flex;
    justify-content: flex-end;
}
.BlockDetailsBox_Pagination_d {
    width: 82px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #03041a;
    border-radius: 2px;
    margin-left: 16px;
    font-size: 14px;
    color: white;
    line-height: 30px;
    text-align: center;
}
.BlockDetailsBox_Pagination_span1 {
    font-size: 14px;
    color: white;
    line-height: 32px;
    margin: 0 8px;
}
.BlockDetailsBox_Pagination_input {
    width: 48px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #03041a;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    padding-left: 12px;
    margin-right: 8px;
}
.BlockDetailsBox_Pagination_span2 {
    font-size: 14px;
    color: white;
    line-height: 32px;
}
:global {
    #progressbar {
        .ant-progress-text {
            color: #fe4fa7 !important;
        }
    }
    #BlockDetailsTable {
        .ant-table-wrapper {
            //   border: 1px solid red;
            overflow: hidden;
        }
        .ant-table-cell {
            font-size: 14px !important;
            font-family: CustomFontRegular !important;
            color: #ffffff !important;
        }
    }
    #BlockDetailsBoxPagination {
        .ant-pagination-item-link {
            background-color: #03041a !important;
            color: white !important;
        }
        .ant-pagination-item {
            background-color: #03041a !important;
            a {
                color: white !important;
            }
        }
        .ant-pagination-item:hover {
            background-color: #f72d86 !important;
            border: 0 !important;
        }
        .ant-pagination-item-ellipsis {
            color: white !important;
        }
        .ant-pagination-item-active {
            background-color: #f72d86 !important;
            border: 1px solid #f72d86;
        }
    }
}
